/** chrome only **/
  @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    input[type="file"] {
      font-family: inherit;
      border: thin solid silver;
      color: darkslategray;
      box-sizing: border-box;
    }
    input[type="file"]::-webkit-file-upload-button {
      height: 100%;
      font-family: inherit;
      color: inherit;
      box-sizing: border-box;
    }
  }

/** firefox only **/
  @media screen and (min--moz-device-pixel-ratio:0) {
    input[type="file"] {
      color: inherit;
      height: 100%;
    }
  }

/** safari only **/
  _:default:not(:root:root), input[type="file"] {
    border: thin solid silver;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
  }
  _:default:not(:root:root), input[type="file"]::-webkit-file-upload-button {
    border: 0;
    border-right: thin solid silver;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0 !important;
    -webkit-appearance: none;
    background: linear-gradient(to top, gainsboro, snow);
    color: darkslategray;
  }

